/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;8008display=swap');
.logo {
    display: flex;
    color: aliceblue;
    padding-right: 2px;

}
.logo img {
    width: 120px;
    height: auto;

} */